.quarto-title-block .quarto-title-banner {
    background-image: url(CHU-BREST_LOGO-2021_CMJN-2-300x205.png);
    background-size: 250px;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-origin: content-box;
  }
